* {
    margin: 0; /* Remove the default margin for all elements */
    padding: 0;  /* Remove the default padding for all elements */
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
}